@media (max-width: 1125px) {
    body {
        .header {
            padding: 24px 15px;

            &_header_content {
                max-width: 150px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            &_header_container--nav--link::after{
                    bottom: -36px;
            }
                
        }
    }

    main {

        .studio_info_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            width: 100%;
            max-width: 738px;
            padding: 0 15px;

            &_card {
                max-width: 100%;
                max-width: 354px;
            }
        }

        .studio_whatWeDo {
            display: none;
        }


        .solution_container {


            &--title {
                font-family: Roboto;
                font-weight: 900;
                font-size: 26px;
                line-height: 42px;
                letter-spacing: 6%;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
            }

            &--button {
                max-width: 200px;
            }
        }

        .solution_container .backdrop .modal_window {
            width: 450px;

            &-form-input_textarea {
                width: 370px;
            }

            &-accept-box{
                max-width: 336px;
                display: flex;
                justify-content: space-between;
            }

            &-accept-box-text {
                font-family: Roboto;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 3%;

                & span {
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-decoration: underline;
                    text-decoration-style: solid;
                    text-decoration-thickness: 0%;
                }
            }
        }

        .team_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            row-gap: 30px;
            column-gap: 30px;
            width: 100%;
            max-width: 738px;

            &--card {
                width: 100%;
                max-width: 354px;

                &--img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .clients_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            width: 100%;
            max-width: 738px;

            &-back{
                max-width: 100%;
                height: auto;
            }
        }



    }

    body {
        .footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            max-width: 603px;
            gap: 60px;



            &_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &_info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &--adress {
                        text-align: center;
                    }

                    &--email {
                        text-align: center;
                    }

                    &--phone {
                        text-align: center;
                    }
                }
            }

            &_box {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &_sub {
                grid-column: 1 / -1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-title {
                    text-align: center;
                }

                &-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                }
            }
        }
    }

}




@media (max-width: 798px) {
    body {

        .header {

            &_header_content {
                display: none;
            }

            &_header--brgr {
                display: block;
            }

            &_header_container--nav {
                display: none;
            }

        }

        .menu-footer--socials{
            
            &--link{
                font-size: 14px;
            }
        }
    }


    main {
        .studio_info_container {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        .team_container {
            display: grid;
            grid-template-columns: 1fr;
            margin: 0 auto;
            row-gap: 30px;
            width: 100%;
            max-width: 450px;

            &--card {
                width: 100%;
                max-width: 450px;

                &--img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .clients_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            width: 100%;
            max-width: 450px;

            &-back{
                max-width: 100%;
                height: auto;
            }

        }
    }

    body {
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
    }
}