@media (max-width: 1125px) {
    body {
        .header {
            padding: 24px 15px;

            &_header_content {
                max-width: 150px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    main {

        .buttons_container{
            padding-top: 60px;
            padding-bottom: 30px;
        }

        .projects {
            width: 100%;
            max-width: 740px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            &_container {
                width: 100%;
                max-width: 354px;

                &::after{
                    padding: 50px 24px;
                }

                &--img {
                    width: 100%;
                    height: auto;
                }
            }
        }


    }

    body {
        .footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            max-width: 603px;
            gap: 60px;

            &_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &_info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &--adress {
                        text-align: center;
                    }

                    &--email {
                        text-align: center;
                    }

                    &--phone {
                        text-align: center;
                    }
                }
            }

            &_box {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &_sub {
                grid-column: 1 / -1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-title {
                    text-align: center;
                }

                &-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                }
            }
        }
    }
}


@media (max-width: 798px) {
    body {

        .header {

            &_header_content {
                display: none;
            }

            &_header--brgr {
                display: block;
            }

            &_header_container--nav {
                display: none;
            }
        }

        .menu-footer--socials{
            
            &--link{
                font-size: 14px;
            }
        }
    }


    main {
        .buttons_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 10px;
            max-width: 420px;
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .projects {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;

            &_container {
                width: 100%;
                max-width: 450px;

                &--img {
                    width: 100%;
                    height: 294px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .projects_container::after{
            padding: 77px 40px;
        }

    }


    body {
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
    }
}