footer {
    background-color: #2F303A;
    text-decoration: none;
}

.footer {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;

    &_container {

        &_info {
            display: flex;
            flex-direction: column;
            row-gap: 9px;

            &--adress {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #FFFFFF;
                text-decoration: none;
            }

            &--email {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #FFFFFF;
                opacity: 60%;
                text-decoration: none;
            }

            &--phone {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        & img {
            margin-bottom: 20px;
        }
    }

    &_box {
        width: 100%;
        max-width: 206px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 70px;

        &-title {
            max-width: 206px;
            font-family: Roboto;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 3%;
            text-transform: uppercase;
            color: #ffffff;
        }

        &-box {
            width: 100%;
            max-width: 206px;
            display: flex;
            justify-content: space-between;

            &-round {
                width: 44px;
                height: 44px;
                border-radius: 22px;
                background-color: #FFFFFF1A;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &-svg path {
                    margin: 0 auto;
                    fill: #ffffff;
                }

                &:hover {
                    background-color: #2196F3;
                    transition: 0.3s;
                }

                &:hover .footer_box-box-round-svg path {
                    fill: #FFFFFF;
                }
            }
        }
    }
}