.header {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 15px;

    &_header_container {
        width: 100%;
        max-width: 519px;
        display: flex;

        & img {
            margin-right: 93px;
        }

        &--nav {
            width: 100%;
            max-width: 281px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--link {
                font-family: Roboto;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 2%;
                text-decoration: none;
                color: #212121;

                &:hover {
                    color: #2196F3;
                }
            }
        }
    }

    &_header_content {
        width: 100%;
        max-width: 333px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-div1 {
            width: 100%;
            max-width: 161px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover .header_header_content-div-img path {
                color: #2196F3;
                fill: #2196F3;
            }

            &-img path {
                fill: #757575;

                &:hover path {
                    fill: #2196F3;
                }
            }

            &--email {
                font-family: Roboto;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 2%;
                text-decoration: none;
                color: #757575;

                &:hover {
                    color: #2196F3;
                }
            }
        }

        &-div2 {
            width: 100%;
            max-width: 142px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover .header_header_content-div-img path {
                color: #2196F3;
                fill: #2196F3;
            }

            &-img path {
                fill: #757575;

                &:hover path {
                    fill: #2196F3;
                }
            }

            &--phone {
                font-family: Roboto;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 2%;
                text-decoration: none;
                color: #757575;

                &:hover {
                    color: #2196F3;
                }
            }

        }

    }

    &_header--brgr {
        display: none;
    }
}



.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 40px;
    transition: right 0.3s ease;
    z-index: 1000;

    &.active {
        right: 0;
    }
}

.close {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #212121;

    &:hover {
        color: #2196F3;
    }
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 48px;
}

.menu-nav a {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #212121;

    &.active {
        color: #2196f3;
    }

    &:hover {
        color: #2196F3;
    }
}

.menu-footer {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--phone {
        font-family: Roboto;
        font-weight: 500;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 2%;
        color: #2196F3;
    }

    &--email {
        font-family: Roboto;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 2%;
        color: #757575;
        padding-top: 32px;
        padding-bottom: 64px;
    }

    &--socials {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 360px;
        gap: 10px;

        &--link {
            font-family: Roboto;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 2%;
            color: #2196F3;
        }
    }
}