

.buttons_container {
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right:  15px;

    &--button {
        padding: 6px 22px;
        background-color: #F5F4FA;
        border: none;
        border-radius: 4px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
        cursor: pointer;

        &:nth-child(1){
            max-width: 73px;
        }

        &:nth-child(2){
            max-width: 125px;
        }

        &:nth-child(3){
            max-width: 112px;
        }

        &:nth-child(4){
            max-width: 103px;
        }

        &:nth-child(5){
            max-width: 130px;
        }

        &:hover {
            background-color: #2196F3;
            color: #ffffff;
            box-shadow: 0px 2px 2px 0px #0000001F;
            box-shadow: 0px 1px 2px 0px #00000014;
            box-shadow: 0px 3px 1px 0px #0000001A;
        }
    }
}

.projects {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;
    padding-bottom: 94px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

    &_container {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
        border: 1px solid #EEEEEE;
        position: relative;
        transition: 0.3s ease;
        overflow: hidden;

        &::after {
            content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
            position: absolute;
            left: 0;
            top: 0;
            background-color: #2196F3E5;
            z-index: 10;
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 3%;
            color: #ffffff;
            text-align: left;
            padding: 63px 24px;
            opacity: 0;
            transform: translateY(100%);
            transition: transform 0.3s ease;

        }

        &:hover {
            box-shadow: 1px 4px 6px 0px #00000029;
            box-shadow: 0px 4px 4px 0px #0000000F;
            box-shadow: 0px 1px 1px 0px #0000001F;

            &::after {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &--title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 6%;
            color: #212121;
            margin-top: 20px;
            margin-bottom: 4px;
            margin-left: 24px;
        }

        &--subtitle {
            font-family: Roboto;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 3%;
            color: #757575;
            margin-bottom: 20px;
            margin-left: 24px;
        }
    }
}