.solution {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/bg.jpg");
    background-color: #2F303A66;
    background-blend-mode: multiply;

    &_container {
        width: 100%;
        margin: 0 auto;
        max-width: 696px;
        align-items: center;
        padding: 200px 0;
        display: flex;
        flex-direction: column;

        &--title {
            font-family: Roboto;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            letter-spacing: 6%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        &--button {
            width: 216px;
            height: 50px;
            border-radius: 4px;
            background-color: #2196F3;
            font-family: Roboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 6%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            box-shadow: 0px 4px 4px 0px #00000026;
            border: none;
        }
    }
}


.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;

    & .backdrop.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        /*display: none;*/
    }

    & .modal_window {
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 528px;
        padding: 40px;
        position: relative;

        &-close-button {
            position: absolute;
            top: 8px;
            right: 8px;
            background-color: transparent;
            border: none;
        }

        &-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            padding-bottom: 12px;
        }

        &-form {
            width: 100%;
            max-width: 448px;
            display: flex;
            flex-direction: column;
        }

    }
}