main {
    margin: 94px 0;
}

.buttons_container {
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &--button {
        padding: 6px 22px;
        background-color: #F5F4FA;
        border: none;
        border-radius: 4px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;

        &:hover {
            background-color: #2196F3;
            color: #ffffff;
            box-shadow: 0px 2px 2px 0px #0000001F;
            box-shadow: 0px 1px 2px 0px #00000014;
            box-shadow: 0px 3px 1px 0px #0000001A;
        }
    }
}

.projects {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;

    &_container {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
        border: 1px solid #EEEEEE;

        :hover {
            box-shadow: 1px 4px 6px 0px #00000029;
            box-shadow: 0px 4px 4px 0px #0000000F;
            box-shadow: 0px 1px 1px 0px #0000001F;
        }

        &--title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 6%;
            color: #212121;
            margin-top: 20px;
            margin-bottom: 4px;
            margin-left: 24px;
        }

        &--subtitle {
            font-family: Roboto;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 3%;
            color: #757575;
            margin-bottom: 20px;
            margin-left: 24px;
        }
    }
}