.solution {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/bg.jpg");
    background-color: #2F303A66;
    background-blend-mode: multiply;

    &_container {
        width: 100%;
        margin: 0 auto;
        max-width: 696px;
        align-items: center;
        padding: 200px 0;
        display: flex;
        flex-direction: column;

        &--title {
            font-family: Roboto;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            letter-spacing: 6%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        &--button {
            width: 216px;
            height: 50px;
            border-radius: 4px;
            background-color: #2196F3;
            font-family: Roboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 6%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            box-shadow: 0px 4px 4px 0px #00000026;
            border: none;
        }

        & .backdrop {
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, .5);
            display: flex;
            align-items: center;
            justify-content: center;

            &.is-hidden {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                /*display: none;*/
            }

            & .modal_window {
                background: #FFFFFF;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 528px;
                padding: 40px;
                position: relative;

                &-close-button {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    background-color: transparent;
                    border: none;
                }

                &-title {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #212121;
                    padding-bottom: 12px;
                }

                &-form {
                    width: 100%;
                    max-width: 448px;
                    display: flex;
                    flex-direction: column;

                    &-input_label {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.01em;
                        color: #757575;
                        padding-bottom: 4px;
                    }

                    &-input_input {
                        margin-bottom: 10px;

                        &:focus {
                            outline: none;
                            border: none;
                            border: 2px solid #2196F3;
                        }

                        &-name1 {
                            background-image: url("./img/person-black-18dp\ 1\ \(1\).svg");

                            &:active,
                            .modal_window-form-input_input-name1:focus {
                                background-image: url("./img/person-black-18dp\ 1\ \(2\).svg");
                            }
                        }

                        &-name2 {
                            background-image: url("./img/phone-black-18dp\ 1.svg");

                            &:active,
                            .modal_window-form-input_input-name2:focus {
                                background-image: url("./img/phone-black-18dp\ 1\ \(1\).svg");
                            }
                        }

                        &-name3 {
                            background-image: url("./img/email-black-18dp\ 1.svg");

                            &:active,
                            .modal_window-form-input_input-name3:focus {
                                background-image: url("./img/email-black-18dp\ 1\ \(1\).svg");
                            }
                        }
                    }


                    &-input_textarea {
                        margin-bottom: 20px;
                        width: 448px;
                        height: 120px;
                        padding-left: 16px;
                        padding-top: 12px;
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 1%;
                        resize: none;
                        border: 1px solid rgba(33, 33, 33, 0.2);
                        border-radius: 4px;

                        &:focus {
                            outline: none;
                            border: none;
                            border: 2px solid #2196F3;
                        }
                    }
                }

                &-accept {
                    width: 100%;
                    max-width: 423px;
                    margin-bottom: 30px;

                    &-box {
                        max-width: 390px;
                        display: flex;
                        margin: 0 auto;
                        justify-content: space-between;
                        align-items: center;

                        &-text {
                            font-family: Roboto;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 3%;
                            color: #757575;

                            & span {
                                font-family: Roboto;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 3%;
                                text-decoration: underline;
                                text-decoration-style: solid;
                                text-decoration-thickness: 0%;
                                color: #2196F3;
                            }
                        }
                    }
                }

                &-button-send {
                    background-color: #2196F3;
                    box-shadow: 0px 4px 4px 0px #00000026;
                    width: 100%;
                    max-width: 200px;
                    padding: 10px 52px;
                    border-radius: 4px;
                    border: none;
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 6%;
                    text-align: center;
                    vertical-align: middle;
                    color: #FFFFFF;
                }
            }

            & ::-moz-selection {
                background: #b3d4fc;
                text-shadow: none;
            }

            & ::selection {
                background: #b3d4fc;
                text-shadow: none;
            }
        }
    }
}


.studio {
    padding-top: 94px;
    padding-bottom: 252px;

    &_info {

        &_container {
            width: 100%;
            margin: 0 auto;
            max-width: 1170px;
            display: flex;
            justify-content: space-between;

            &_card {
                width: 100%;
                margin: 0 auto;
                max-width: 270px;

                &-img {
                    background-color: #F5F4FA;
                    padding: 25px 100px;
                    border-radius: 4px;
                    margin-bottom: 30px;
                }

                &--title {
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-transform: uppercase;
                    color: #212121;
                    margin-bottom: 10px;
                }

                &--text {
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 3%;
                    color: #757575;
                }
            }
        }
    }

    &_whatWeDo {
        width: 100%;
        margin: 0 auto;
        max-width: 1170px;
        padding-top: 94px;

        &_title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            color: #212121;
            margin-bottom: 50px;
        }

        &_container {
            display: flex;
            justify-content: space-between;

            &_card {
                width: 100%;
                max-width: 370px;

                &-img {
                    width: 370px;
                    height: 294px;
                    position: relative;
                    position: absolute;
                }

                &-text {
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #ffffff;
                    background-color: #2F303ACC;
                    padding: 27px 99px;
                    position: absolute;
                    position: relative;
                    top: 224px;
                }
            }
        }
    }
}

.team {
    background-color: #F5F4FA;
    margin-top: 100px;

    &_title {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
        padding-top: 94px;
        margin-bottom: 50px;
    }

    &_container {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding-bottom: 94px;
        display: flex;
        justify-content: space-between;

        &--card {
            width: 100%;
            max-width: 270px;
            background-color: #FFFFFF;
            border-radius: 4px;
            box-shadow: 0px 2px 1px 0px #00000033;
            box-shadow: 0px 1px 1px 0px #00000024;
            box-shadow: 0px 1px 3px 0px #0000001F;

            &--img {
                width: 270px;
                height: 260px;
            }

            &--name {
                font-family: Roboto;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 3%;
                text-align: center;
                color: #212121;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            &--profession {
                font-family: Roboto;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 3%;
                text-align: center;
                color: #757575;
                margin-bottom: 30px;
            }

            &-apps {
                width: 100%;
                max-width: 206px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding-bottom: 30px;

                &-round {
                    width: 44px;
                    height: 44px;
                    border-radius: 22px;
                    background-color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &-svg path {
                        margin: 0 auto;
                        fill: #AFB1B8;
                    }

                    &:hover {
                        background-color: #2196F3;
                        transition: 0.3s;
                    }

                    :hover .team_container--card-apps-round-svg path {
                        fill: #FFFFFF;
                    }

                }
            }
        }
    }
}


.clients {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 94px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    &-title {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
    }

    &_container {
        width: 100%;
        max-width: 1170px;
        display: flex;
        justify-content: space-between;

        &-back {
            background-color: transparent;
            max-width: 170px;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            padding: 16px 32px;

            &-svg path {
                fill: #AFB1B8;
            }

            &:hover {
                border: 1px solid #2196F3;
                transition: 0.3s;
            }

            &:hover .clients_container-back-svg path {
                fill: #2196F3;
                transition: 0.3s;
            }
        }
    }
}