@import '_header1.scss';
@import './_main1.scss';
@import './_footer1.scss';
@import './_adaptive1.scss';


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

