@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.header_header_container {
  width: 100%;
  max-width: 519px;
  display: flex;
}
.header_header_container img {
  margin-right: 93px;
}
.header_header_container--nav {
  width: 100%;
  max-width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header_container--nav--link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
  text-decoration: none;
  color: #212121;
}
.header_header_container--nav--link:hover {
  color: #2196F3;
}
.header_header_content {
  width: 100%;
  max-width: 333px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header_content-div1 {
  width: 100%;
  max-width: 161px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header_content-div1:hover .header_header_content-div-img path {
  color: #2196F3;
  fill: #2196F3;
}
.header_header_content-div1--email {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
  text-decoration: none;
  color: #757575;
}
.header_header_content-div1--email:hover {
  color: #2196F3;
}
.header_header_content-div2 {
  width: 100%;
  max-width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header_content-div2:hover .header_header_content-div-img path {
  color: #2196F3;
  fill: #2196F3;
}
.header_header_content-div2--phone {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
  text-decoration: none;
  color: #757575;
}
.header_header_content-div2--phone:hover {
  color: #2196F3;
}

.solution {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./img/bg.jpg");
  background-color: rgba(47, 48, 58, 0.4);
  background-blend-mode: multiply;
}
.solution_container {
  width: 100%;
  margin: 0 auto;
  max-width: 696px;
  align-items: center;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
}
.solution_container--title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.solution_container--button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.backdrop .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
}
.backdrop .modal_window {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 528px;
  padding: 40px;
  position: relative;
}
.backdrop .modal_window-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
}
.backdrop .modal_window-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
}
.backdrop .modal_window-form {
  width: 100%;
  max-width: 448px;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */