@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
}

.header{
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 0  ;
}

.header_header_container{
    width: 100%;
    max-width: 519px;
    display: flex;
    
}

.header_header_container img{
    margin-right: 93px;
}

.header_header_container--nav{
    width: 100%;
    max-width: 281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_header_content{
    width: 100%;
    max-width: 333px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header_header_container--nav--link{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #212121;
}

.header_header_container--nav--link:hover{
    color: #2196F3;
}

.header_header_content-div-img path{
    fill: #757575;
}

.header_header_content-div-img:hover path{
    fill: #2196F3;
}

.header_header_content-div1{
    width: 100%;
    max-width: 161px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_header_content-div2{
    width: 100%;
    max-width: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_header_content-div1:hover .header_header_content-div-img path{
    color: #2196F3;
    fill: #2196F3;
}

.header_header_content-div2:hover .header_header_content-div-img path{
    color: #2196F3;
    fill: #2196F3;
}

.header_header_content-div--email{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
}

.header_header_content-div--email:hover{
    color: #2196F3;
}

.header_header_content-div--phone{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
}


.header_header_content-div--phone:hover{
    color: #2196F3;
}

main{
    margin: 94px 0;
}

.buttons_container{
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.buttons_container--button{
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
}


.buttons_container--button:hover{
    background-color: #2196F3;
    color: #ffffff;
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

.projects{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;
}

.projects_container{
    width:100% ;
    max-width: 370px;
    margin: 0 auto;
    border:1px solid #EEEEEE;

}

.projects_container:hover{
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
}

.projects_container:hover .projects_container--img{
    
}

.projects_container--title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6%;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.projects_container--subtitle{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3%;
    color: #757575;
    margin-bottom: 20px;
    margin-left: 24px;
}

footer{
    background-color: #2F303A;
    text-decoration: none;
}

.footer{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;    
    padding: 60px 0;
    display: flex;
}

.footer_container_info{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.footer_container img{
    margin-bottom:20px ;
}

.footer_container_info--adress{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_container_info--email{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
    opacity: 60%;
    text-decoration: none;
}

.footer_container_info--phone{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_box{
    width: 100%;
    max-width: 206px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 70px;
}

.footer_box-title{
    max-width: 206px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #ffffff;
}

.footer_box-box{
    width: 100%;
    max-width: 206px; 
    display: flex;
    justify-content: space-between;
}

.footer_box-box-round{
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #FFFFFF1A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer_box-box-round-svg path{
    margin: 0 auto;
    fill: #ffffff;
}

.footer_box-box-round:hover{
    background-color: #2196F3;
    transition: 0.3s ;
}

.footer_box-box-round:hover .footer_box-box-round-svg path{
    fill: #FFFFFF;
}


.footer_container_info--email{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #ffffff;
    opacity: 60%;
    text-decoration: none;
}

.footer_container_info--phone{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #ffffff;
    opacity: 60%;
    text-decoration: none;
}